/* Set the colour and the position of the background and the elements */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fae1dd;
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 100%;
}
.valentines {
  position: relative;
  top: 50px;
  cursor: pointer;
  animation: up 3s linear infinite;
}

/* Make elements responsive */
@media (max-width: 768px) {
  .envelope {
    width: 200px;
    height: 150px;
  }

  .envelope:before {
    width: 150px;
    height: 150px;
    top: -75px;
    left: 25px;
  }

  .card {
    width: 180px;
    height: 120px;
    left: 10px;
  }

  .card:before {
    width: 160px;
    height: 100px;
  }

  .text {
    font-size: 18px;
    left: 50px;
  }

  .heart {
    top: 80px;
    left: 70px;
    width: 20px;
    height: 20px;
  }

  .shadow {
    width: 200px;
    bottom: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  .burst {
    width: 500px;
    height: 500px;
  }

  .burst-rectangle {
    width: 500px;
    height: 500px;
  }
}

/* Style burst images to be more visually appealing with square and rectangle shapes */
.burst {
  width: 500px; /* Square shape */
  height: 500px;
  position: absolute;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0; /* Remove circular shape */
}

.burst-rectangle {
  width: 500px; /* Rectangle shape */
  height: 500px;
  position: absolute;
  opacity: 1;
  transition: opacity 1s ease-in-out;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0; /* Remove circular shape */
}
